build/

bin/
pkg/
src/

*~
.bash_history
.bash_logout
.curlrc
.gnome
.IntelliJIdea*
.lesshst
.local*
.no-devstack
.pastebinit.xml
.rbtools-cookies
*.swp
.Xauthority
.Xresources

Vagrantfile

.aws/
.bazaar/
.cache/
.cassandra/
.config/
.dbus/
.gconf/
.ICEauthority
.java/
.m2/
.mozilla/
.node-gyp/
.npm/
.pki/
.ssh/
.vagrant/
.vagrant.d/
.vnc/

Desktop/
Downloads/
idea-IU*/
