*.swp
*~
.AndroidStudio*/
.ICEauthority
.IntelliJIdea*
.PyCharm*/
.VirtualBox/
.WebStorm*/
.Xauthority
.Xresources
.android/
.atom/
.aws/
.bash_history
.bash_logout
.bazaar/
.bzr.log
.cache/
.cassandra/
.compiz/
.config/
.curlrc
.dbshell
.dbus/
.dockercfg
.dropbox-dist/
.dropbox/
.gconf/
.gem/
.gimp*/
.gnome
.gnupg/
.gstreamer*/
.irssi/
.java/
.juju/
.kde/
.lesshst
.local*
.lpad_oauth
.m2/
.mozilla/
.no-devstack
.node-gyp/
.npm/
.nuget/
.pastebinit.xml
.pki/
.profile
.rbtools-cookies
.ssh/
.synergy/
.thumbnails/
.thunderbird/
.vagrant.d/
.vagrant/
.vnc/
.xscreensaver
.xsession*
.znc/
AppData/
AzureStorageEmulator*
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
IdeaProjects/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Searches/
SkyDrive/
Tracing/
Vagrantfile
Videos/
WAStorageEmulator*
Web\ Essentials/
bin
bin/
build
build/
idea-IU*/
ncftp/
ntuser.ini
pkg
pkg/
src
src/
vimfiles/
