build/

bin/
pkg/
src/

*~
.bash_history
.IntelliJIdea*
.lesshst
.local*
.pastebinit.xml
.rbtools-cookies
*.swp

.aws/
.bazaar/
.cache/
.cassandra/
.config/
.dbus/
.gconf/
.ICEauthority
.java/
.m2/
.npm/
.ssh/
.vagrant.d/
.vnc/
.Xauthority

Desktop/
Downloads/
